.App {
  margin-left: 30px;
}
.table-buah .data-buah{
  text-transform: lowercase;
}
.table-buah thead th{
  background-color: cadetblue;
  color: white;
}
.table-buah tbody tr:hover{
  background-color: cadetblue;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.flex{
  display: flex;
  margin-bottom: 5px;
}
.flex .item{
  background-color: cadetblue;
  padding: 10px 10px;
  border-radius: 10px;
  color: white;
  margin-right: 5px;
  text-transform: lowercase;
}
.flex .item:hover{
  background-color: white;
  border-radius: 10px;
  border: 1px solid cadetblue;
  color: cadetblue;
  transition: all 0.5s;
}
.style-word{
  text-transform: lowercase;
}
.stock{
  font-weight: 700;
}